Repository Adamtaranto/rusty-dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

cargo-fmt:
  name: cargo fmt
  description: Check Rust source formatting (cargo fmt --check).
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package compiles without errors.
  entry: cargo check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust source with Clippy, treating warnings as errors.
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust library unit tests before pushing.
  entry: cargo test --lib
  language: system
  pass_filenames: false
  stages:
  - pre-push

pytest:
  name: pytest
  description: Run the full Python test suite before pushing.
  entry: pytest tests/ -x -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix(app): make PAF-path FASTA export reachable via the sidebar upload
  app/app.py
Due: pytest

fix: separate stdout from stderr in Aioli runs, correct nucmer module spec, add run timeouts
  app/www/aligners.js
Due: none

docs: mark biowasm aligners as implemented in app README
  app/README.md
Due: none

docs: browser app docs page, nav, README, changelog (#74)
  CHANGELOG.md
  README.md
  docs/index.md
  docs/webapp.md
  mkdocs.yml
Due: none

feat(app): biowasm aligner backends (minimap2, LASTZ, nucmer) (#75)
  app/README.md
  app/app.py
  app/core/align.py
  app/www/aligners.js
  tests/test_app_align.py
Due: pytest

ci: install shiny for python-tests; skip app-module tests when shiny is absent
  .github/workflows/ci.yml
  tests/test_app_state.py
Due: pytest

feat(app): interactive dotplot embed with panel drill-down, colinearity-vs-reference ordering, and UX polish (#76)
  .github/workflows/ci.yml
  app/app.py
  app/core/export.py
  app/core/panels.py
  app/core/state.py
  app/www/app.css
  app/www/bridge.js
  tests/test_app_core.py
  tests/test_app_state.py
Due: pytest

fix: stale-wheel-proof app boot, loading splash, and aligner prefetch
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  app/app.py
  app/core/wheels.py
  app/www/aligners.js
  scripts/add_loading_splash.py
  tests/test_app_core.py
Due: pytest

feat(app): UX round 2 — PAF input mode, self-align, gated downloads, staged progress, identity colouring, single nav hint
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/state.py
  app/www/aligners.js
  app/www/app.css
  tests/test_app_state.py
Due: pytest

feat: identity colour key on plots; debounce numeric plot options in the app
  CHANGELOG.md
  app/app.py
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

feat(app): validate assembly contig names against the PAF query column
  CHANGELOG.md
  app/app.py
  app/core/validate.py
  tests/test_app_core.py
Due: pytest

feat(app): UX round 2 — PAF input mode, self-align, gated downloads, staged progress, identity colouring (#78)
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/state.py
  app/core/validate.py
  app/www/aligners.js
  app/www/app.css
  python/rusty_dot/dotplot.py
  tests/test_app_core.py
  tests/test_app_state.py
  tests/test_dotplot.py
Due: pytest

fix: app boot with stale bundled wheels, loading splash, aligner prefetch (#77)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/state.py
  app/core/validate.py
  app/core/wheels.py
  app/www/aligners.js
  app/www/app.css
  python/rusty_dot/dotplot.py
  scripts/add_loading_splash.py
  tests/test_app_core.py
  tests/test_app_state.py
  tests/test_dotplot.py
Due: pytest

perf: batched stranded pair comparison in one native call
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/paf_io.py
  src/index.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

perf(app): streaming byte-level FASTA parser
  app/core/fasta.py
  tests/test_app_core.py
Due: pytest

perf: min_block_len native filtering, reorder cache reuse, benches, private-data harness
  CHANGELOG.md
  pyproject.toml
  python/benchmarks/test_bench_fasta.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/paf_io.py
  src/index.rs
  tests/test_index.py
  tests/test_private_data.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

perf: core hot paths — batched native matching, block filtering, streaming FASTA parse (#79)
  CHANGELOG.md
  app/core/fasta.py
  pyproject.toml
  python/benchmarks/test_bench_fasta.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/paf_io.py
  src/index.rs
  tests/test_app_core.py
  tests/test_index.py
  tests/test_private_data.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

perf(app): faster alignment path — layout split, dataset mounts, LRU caches, cancellation, aligner log, assembly-scale defaults
  CHANGELOG.md
  app/app.py
  app/core/align.py
  app/core/cache.py
  app/www/aligners.js
  app/www/app.css
  python/rusty_dot/paf_io.py
  tests/test_app_align.py
  tests/test_app_core.py
Due: pytest

fix(app): refuse k-mer runs that would exhaust the browser heap
  CHANGELOG.md
  app/app.py
Due: pytest

perf(app): faster alignment path — cancellation, dataset mounts, aligner log, assembly-scale defaults (#80)
  CHANGELOG.md
  app/app.py
  app/core/align.py
  app/core/cache.py
  app/www/aligners.js
  app/www/app.css
  python/rusty_dot/paf_io.py
  tests/test_app_align.py
  tests/test_app_core.py
Due: pytest

perf: canonical CSR k-mer index — 6x smaller, wasm-viable on real assemblies
  CHANGELOG.md
  src/index.rs
  src/kmer_hash.rs
  src/merge.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat(app): raise the k-mer input guard to 80 Mb for the slim index
  CHANGELOG.md
  app/app.py
Due: pytest

perf: allocation-free pair emission and single-walk stranded intersection
  src/index.rs
  src/kmer_hash.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

perf: canonical CSR k-mer index — 6× smaller, real assemblies now work in the browser (#81)
  CHANGELOG.md
  app/app.py
  src/index.rs
  src/kmer_hash.rs
  src/merge.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

test/docs: GFF annotation coverage, README section, tutorial examples
  CHANGELOG.md
  README.md
  docs/tutorials/dotplot_tutorial.ipynb
  tests/test_annotation_draw.py
Due: pytest

feat: GFF3 parser upgrades, annotation squares behind alignments, side tracks, clickable HTML features
  python/rusty_dot/_annotation_draw.py
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/annotation.py
  python/rusty_dot/dotplot.py
Due: pytest

fix: compare annotation seqnames against display names, not group-prefixed ids
  python/rusty_dot/dotplot.py
Due: pytest

feat: draw diagonal annotation squares on cross-group self panels
  python/rusty_dot/dotplot.py
  tests/test_annotation_draw.py
Due: pytest

feat: defer panel focus click when the embedder drills down on double-click
  python/rusty_dot/_html/report.js
Due: none

Style fixes by Ruff
  python/rusty_dot/dotplot.py
Due: pytest

fix: no click-to-focus in single-panel reports; true aspect in focused views
  CHANGELOG.md
  python/rusty_dot/_html/report.js
  python/rusty_dot/dotplot.py
Due: pytest

feat: GFF3 annotation overlays — parser upgrades, side tracks, clickable HTML features (#82)
  CHANGELOG.md
  README.md
  docs/tutorials/dotplot_tutorial.ipynb
  python/rusty_dot/_annotation_draw.py
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/annotation.py
  python/rusty_dot/dotplot.py
  tests/test_annotation_draw.py
Due: pytest

fix(app): no zoom-then-swap when double-clicking a sub-plot
  CHANGELOG.md
  app/app.py
  tests/test_app_state.py
Due: pytest

feat(app): GFF annotation uploads with per-type toggles and colour pickers
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/annotation_state.py
  app/www/app.css
  app/www/color-input.js
  tests/test_app_core.py
Due: pytest

feat(app): GFF annotation uploads with per-type toggles, colour pickers, and click-to-drill fix (#83)
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/annotation_state.py
  app/www/app.css
  app/www/color-input.js
  tests/test_app_core.py
  tests/test_app_state.py
Due: pytest

feat(app): restyle with CSS theme layer, busy pill, memory readout; docs launch button
  CHANGELOG.md
  app/app.py
  app/core/state.py
  app/www/app.css
  docs/webapp.md
Due: pytest

feat(app): restyle with CSS theme layer, busy pill, memory readout; docs launch button (#84)
  CHANGELOG.md
  app/app.py
  app/core/state.py
  app/www/app.css
  docs/webapp.md
Due: pytest

docs: accuracy pass — current index design, required compute_matches, app limits
  README.md
  docs/api/index.md
  docs/api/sequence_index.md
  docs/development.md
  docs/index.md
  docs/installation.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/dotplot_tutorial.ipynb
  docs/webapp.md
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  src/index.rs
  src/lib.rs
  src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

monthly depbot bundles
  .github/dependabot.yml
Due: none

docs: accuracy pass — current index design, required compute_matches, app limits (#85)
  .github/dependabot.yml
  README.md
  docs/api/index.md
  docs/api/sequence_index.md
  docs/development.md
  docs/index.md
  docs/installation.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/dotplot_tutorial.ipynb
  docs/webapp.md
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  src/index.rs
  src/lib.rs
  src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  pytest: any of: \.py$
