Repository Adamtaranto/rusty-dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

.pre-commit-config.yaml:

repos:
  # ---------------------------------------------------------------------------
  # Basic pre-commit checks
  # ---------------------------------------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=500, --enforce-all]
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # ---------------------------------------------------------------------------
  # Rust hooks (run at pre-commit stage — all are fast)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Check Rust source formatting (cargo fmt --check).
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        description: Check the package compiles without errors.
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust source with Clippy, treating warnings as errors.
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # ---------------------------------------------------------------------------
  # Rust tests (run at pre-push stage — may recompile)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        description: Run Rust library unit tests before pushing.
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
  
  # ---------------------------------------------------------------------------
  # Python: Ruff formatting checks
  # ---------------------------------------------------------------------------      
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  # ---------------------------------------------------------------------------
  # Python: numpydoc-style docstring validation for .pyi stub files
  # Skip pytest test files (tests/) and __init__.py modules.
  # ---------------------------------------------------------------------------
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle (numpydoc, .pyi stubs only)
        args:
          - "--convention=numpy"
          - "--add-ignore=D100,D104"
        files: "^python/.*\\.pyi$"

  # ---------------------------------------------------------------------------
  # Python tests (run at pre-push stage — requires the extension to be built)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: Run the full Python test suite before pushing.
        entry: pytest tests/ -x -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

Combine CFF validate and update into single workflow (#16)
  .github/workflows/cff-validator.yml
  .github/workflows/citation-cff.yml
  .github/workflows/update-citation-cff.yml
Due: none

Style fixes by Ruff
  python/rusty_dot/paf_io.py
  tests/test_paf_io.py
Due: pytest

Rename `CrossIdx` → `CrossIndex`, remove `CrossIndexPaf` alias (#18)
  README.md
  docs/api/index.md
  docs/api/paf_io.md
  docs/index.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  python/rusty_dot/__init__.py
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_paf_io.py
Due: pytest

Style fixes by Ruff
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

feat: Support inline plots in Jupyter notebooks (#14)
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/quickstart.ipynb
  python/rusty_dot/dotplot.py
  tests/conftest.py
  tests/test_dotplot.py
Due: pytest

Feature: colour PAF alignments by identity in DotPlotter (#22)
  docs/index.md
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/minimap2_paf_tutorial.ipynb
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

Style fixes by Ruff
  python/rusty_dot/annotation.py
  python/rusty_dot/dotplot.py
  tests/test_annotation.py
Due: pytest

Feature: GFF annotation overlays for dotplots + axis formatting improvements (#23)
  python/rusty_dot/__init__.py
  python/rusty_dot/annotation.py
  python/rusty_dot/dotplot.py
  tests/test_annotation.py
Due: pytest

Add Dependabot configuration file
  .github/dependabot.yml
Due: none

Configure Dependabot for Cargo package ecosystem
  .github/dependabot.yml
Due: none

Update .github/dependabot.yml
  .github/dependabot.yml
Due: none

Disable pip dependency updates in dependabot.yml
  .github/dependabot.yml
Due: none

Add Dependabot configuration file (#27)
  .github/dependabot.yml
Due: none

Stream FASTA records directly into FM-index builder (#26)
  src/index.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Fix PyO3 0.28 API compatibility: replace removed `_bound` methods (#35)
  src/index.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Revert bincode to 1.3.3 — 3.0.0 on crates.io is a squatter crate (#36)
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
Due: none

Deployed f3a456d with MkDocs version: 1.6.1
  api/dotplot/index.html
  api/index.html
  api/paf_io/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/all_vs_all_two_indices/all_vs_all_two_indices.ipynb
  tutorials/all_vs_all_two_indices/index.html
  tutorials/dotplot_tutorial/dotplot_tutorial.ipynb
  tutorials/dotplot_tutorial/index.html
  tutorials/minimap2_paf_tutorial/index.html
  tutorials/minimap2_paf_tutorial/minimap2_paf_tutorial.ipynb
  tutorials/quickstart/index.html
  tutorials/quickstart/quickstart.ipynb
Due: none

Style fixes by Ruff
  tests/test_dotplot.py
Due: pytest

PAF handling: PafAlignment as DotPlotter index, CrossIndex own API page (#38)
  docs/api/cross_index.md
  docs/api/index.md
  docs/api/paf_io.md
  docs/tutorials/minimap2_paf_tutorial.ipynb
  mkdocs.yml
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

Replace unmaintained bincode with postcard (#40)
  .github/dependabot.yml
  Cargo.lock
  Cargo.toml
  README.md
  docs/index.md
  python/rusty_dot/_rusty_dot.pyi
  src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Deployed 7e35602 with MkDocs version: 1.6.1
  404.html
  api/cross_index/index.html
  api/dotplot/index.html
  api/functions/index.html
  api/index.html
  api/paf_io/index.html
  api/sequence_index/index.html
  development/index.html
  index.html
  installation/index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/all_vs_all_two_indices/index.html
  tutorials/dotplot_tutorial/index.html
  tutorials/minimap2_paf_tutorial/index.html
  tutorials/minimap2_paf_tutorial/minimap2_paf_tutorial.ipynb
  tutorials/paf_workflow/index.html
  tutorials/quickstart/index.html
Due: none

feat: automate mkdocs gh-deploy on push to main (#42)
  .github/workflows/docs.yml
Due: none

Simplify examples
  README.md
Due: none

fix line endings
  CITATION.cff
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/minimap2_paf_tutorial.ipynb
Due: none

Deployed 22a964a with MkDocs version: 1.6.1
  404.html
  api/cross_index/index.html
  api/dotplot/index.html
  api/functions/index.html
  api/index.html
  api/paf_io/index.html
  api/sequence_index/index.html
  development/index.html
  index.html
  installation/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/all_vs_all_two_indices/index.html
  tutorials/dotplot_tutorial/dotplot_tutorial.ipynb
  tutorials/dotplot_tutorial/index.html
  tutorials/minimap2_paf_tutorial/index.html
  tutorials/minimap2_paf_tutorial/minimap2_paf_tutorial.ipynb
  tutorials/paf_workflow/index.html
  tutorials/quickstart/index.html
Due: none

Style fixes by Ruff
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

Fix reorder_contigs() failure on custom group names; add compute_matches, logging, group management, and DotPlotter CrossIndex integration (#44)
  docs/api/cross_index.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

Deployed 7756b9d with MkDocs version: 1.6.1
  api/cross_index/index.html
  api/dotplot/index.html
  api/paf_io/index.html
  objects.inv
  search/search_index.json
  tutorials/all_vs_all_two_indices/all_vs_all_two_indices.ipynb
  tutorials/all_vs_all_two_indices/index.html
Due: none

perf: parallelise index build & pairwise comparisons, tune release build
  Cargo.lock
  Cargo.toml
  src/index.rs
  src/kmer.rs
  src/merge.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

perf: draw dotplot matches with LineCollection, index PAF records by pair
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

perf: replace FM-index matching with a rolling-hash k-mer index
  Cargo.lock
  Cargo.toml
  src/index.rs
  src/kmer_hash.rs
  src/lib.rs
  tests/test_kmer_index_parity.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

refactor: expose match helpers, rasterize plots, update docs for k-mer engine
  README.md
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  src/index.rs
  src/kmer_hash.rs
  tests/test_kmer_index_parity.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

test: add Rust + Python benchmarks and wire up CodSpeed CI
  .cargo/config.toml
  .github/workflows/codspeed.yml
  Cargo.lock
  Cargo.toml
  benches/bench_compare.rs
  benches/bench_index.rs
  benches/bench_kmer.rs
  benches/common/mod.rs
  pyproject.toml
  python/benchmarks/__init__.py
  python/benchmarks/_synth.py
  python/benchmarks/test_bench_cross.py
  python/benchmarks/test_bench_plot.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

ignore sandpit
  .gitignore
Due: none

autoupdate hooks
  .pre-commit-config.yaml
Due: none

fix(bench): import installed rusty_dot in CodSpeed Python benchmarks
  python/benchmarks/__init__.py
  python/benchmarks/test_bench_cross.py
  python/benchmarks/test_bench_plot.py
Due: pytest

docs: describe the rolling-hash k-mer engine; add benchmarks guide
  docs/api/functions.md
  docs/api/index.md
  docs/api/sequence_index.md
  docs/development.md
  docs/index.md
  docs/tutorials/dotplot_tutorial.ipynb
  mkdocs.yml
Due: none

bump deps
  .github/workflows/ci.yml
  .github/workflows/citation-cff.yml
  .github/workflows/docs.yml
  Cargo.toml
Due: none
