Repository Adamtaranto/rusty-dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

.pre-commit-config.yaml:

repos:
  # ---------------------------------------------------------------------------
  # Rust hooks (run at pre-commit stage — all are fast)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Check Rust source formatting (cargo fmt --check).
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        description: Check the package compiles without errors.
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust source with Clippy, treating warnings as errors.
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # ---------------------------------------------------------------------------
  # Rust tests (run at pre-push stage — may recompile)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        description: Run Rust library unit tests before pushing.
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]

  # ---------------------------------------------------------------------------
  # Python: numpydoc-style docstring validation for .pyi stub files
  # Skip pytest test files (tests/) and __init__.py modules.
  # ---------------------------------------------------------------------------
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle (numpydoc, .pyi stubs only)
        args:
          - "--convention=numpy"
          - "--add-ignore=D100,D104"
        files: "^python/.*\\.pyi$"

  # ---------------------------------------------------------------------------
  # Python tests (run at pre-push stage — requires the extension to be built)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: Run the full Python test suite before pushing.
        entry: pytest tests/ -x -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

ruff formatting
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/paf_workflow.ipynb
  docs/tutorials/quickstart.ipynb
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/conftest.py
  tests/test_data.py
  tests/test_dotplot.py
  tests/test_fasta.py
  tests/test_index.py
  tests/test_kmer.py
  tests/test_merge.py
  tests/test_paf.py
  tests/test_paf_io.py
  tests/test_serialize.py
  tests/test_strand.py
Due: pytest

fix license
  Cargo.toml
Due: none

add general checks
  .pre-commit-config.yaml
Due: none

conda env
  environment.yml
Due: none

config formatting tools
  pyproject.toml
Due: none

install with dev deps
  README.md
Due: none

issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

vscode settings
  .vscode/settings.json
Due: none

update 3rd party deps
  .github/workflows/ci.yml
Due: none

add ruff action
  .github/workflows/ruff.yml
Due: none

formatting
  .pre-commit-config.yaml
Due: none

formatting
  pyproject.toml
Due: none

add pytest-cov to deps
  .github/workflows/ci.yml
Due: none

formatting
  .github/workflows/ruff.yml
Due: none

cargo fmt
  src/fasta.rs
  src/index.rs
  src/merge.rs
  src/serialize.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

clippy fixes
  src/merge.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

Style fixes by Ruff
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_index.py
  tests/test_paf_io.py
Due: pytest

ignore dev and mac stuff
  .gitignore
Due: none

add deps to conda env yaml
  environment.yml
Due: none

update install instructions
  README.md
Due: none

Add cff and cff actions
  .github/workflows/cff-validator.yml
  .github/workflows/update-citation-cff.yml
  CITATION.cff
Due: none

Add get_paf_all, CrossIndexPaf, relative scaling, collinearity-sorted unmatched contigs, and development guide (#7)
  .coverage
  .gitignore
  README.md
  coverage.xml
  docs/development.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/minimap2_paf_tutorial.ipynb
  mkdocs.yml
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  src/index.rs
  tests/test_dotplot.py
  tests/test_index.py
  tests/test_paf_io.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

Deployed ad0e305 with MkDocs version: 1.6.1
  404.html
  api/dotplot/index.html
  api/functions/index.html
  api/index.html
  api/paf_io/index.html
  api/sequence_index/index.html
  development/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/all_vs_all_two_indices/all_vs_all_two_indices.ipynb
  tutorials/all_vs_all_two_indices/index.html
  tutorials/minimap2_paf_tutorial/index.html
  tutorials/minimap2_paf_tutorial/minimap2_paf_tutorial.ipynb
  tutorials/paf_workflow/index.html
  tutorials/quickstart/index.html
Due: none

rm testing example
  README.md
Due: none

Style fixes by Ruff
  tests/test_dotplot.py
Due: pytest

Style fixes by Ruff
  tests/test_dotplot.py
  tests/test_merge.py
Due: pytest

Fix missing RC hits; complete both-strand merge; harden sequence name uniqueness; add CrossIdx multi-group index (#9)
  .coverage
  README.md
  coverage.xml
  docs/api/functions.md
  docs/api/index.md
  docs/api/paf_io.md
  docs/api/sequence_index.md
  docs/index.md
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  src/fasta.rs
  src/index.rs
  src/lib.rs
  src/merge.rs
  tests/test_dotplot.py
  tests/test_index.py
  tests/test_merge.py
  tests/test_paf_io.py
  tests/test_strand.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

Deployed af6e87f with MkDocs version: 1.6.1
  api/dotplot/index.html
  api/functions/index.html
  api/index.html
  api/paf_io/index.html
  api/sequence_index/index.html
  index.html
  objects.inv
  search/search_index.json
Due: none

Style fixes by Ruff
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
Due: pytest

Add SVG output format and minimum alignment length filtering (#11)
  README.md
  docs/index.md
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/paf_workflow.ipynb
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

ruff to skip docs dir
  pyproject.toml
Due: none

rumdl formatting
  README.md
  docs/api/paf_io.md
  docs/development.md
Due: none

linting fix
  environment.yml
Due: none

ruff formatting
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/dotplot_tutorial.ipynb
  docs/tutorials/minimap2_paf_tutorial.ipynb
  docs/tutorials/paf_workflow.ipynb
  docs/tutorials/quickstart.ipynb
Due: none

enable pydocstyle checks via ruff
  pyproject.toml
Due: none

rm coverage results
  .coverage
  coverage.xml
Due: none

Deployed 8d70582 with MkDocs version: 1.6.1
  api/dotplot/index.html
  api/functions/index.html
  api/paf_io/index.html
  development/index.html
  index.html
  objects.inv
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
  tutorials/all_vs_all_two_indices/all_vs_all_two_indices.ipynb
  tutorials/all_vs_all_two_indices/index.html
  tutorials/dotplot_tutorial/dotplot_tutorial.ipynb
  tutorials/dotplot_tutorial/index.html
  tutorials/minimap2_paf_tutorial/index.html
  tutorials/minimap2_paf_tutorial/minimap2_paf_tutorial.ipynb
  tutorials/paf_workflow/index.html
  tutorials/paf_workflow/paf_workflow.ipynb
  tutorials/quickstart/index.html
  tutorials/quickstart/quickstart.ipynb
Due: none

CFF format fixes
  CITATION.cff
Due: none

Fix license indentifier
  CITATION.cff
Due: none
