Repository Adamtaranto/rusty-dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

cargo-fmt:
  name: cargo fmt
  description: Check Rust source formatting (cargo fmt --check).
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-check:
  name: cargo check
  description: Check the package compiles without errors.
  entry: cargo check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust source with Clippy, treating warnings as errors.
  entry: cargo clippy -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust library unit tests before pushing.
  entry: cargo test --lib
  language: system
  pass_filenames: false
  stages:
  - pre-push

pytest:
  name: pytest
  description: Run the full Python test suite before pushing.
  entry: pytest tests/ -x -q
  language: system
  pass_filenames: false
  stages:
  - pre-push

add conda colab setup instructions and use colab py3.12
  docs/tutorials/minimap2_paf_tutorial.ipynb
Due: none

fix colab settings
  docs/tutorials/quickstart.ipynb
Due: none

docs: changelog for the annotation, GenBank and aligner-timeout work
  CHANGELOG.md
Due: none

Annotation overhaul, GenBank input, and aligner timeout handling (#95)
  CHANGELOG.md
  README.md
  app/app.py
  app/core/annotation_colors.py
  app/core/annotation_state.py
  app/core/genbank.py
  app/core/panels.py
  app/www/aligners.js
  app/www/app.css
  app/www/feature-table.js
  docs/tutorials/minimap2_paf_tutorial.ipynb
  docs/tutorials/quickstart.ipynb
  python/rusty_dot/_annotation_draw.py
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/_html/template.html
  python/rusty_dot/annotation.py
  python/rusty_dot/dotplot.py
  tests/data/sample.gbk
  tests/test_annotation_draw.py
  tests/test_app_align.py
  tests/test_app_core.py
  tests/test_app_genbank.py
  tests/test_html_report.py
Due: pytest

fix(app): single-panel click/drill-down, and annotation controls surviving Run
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  app/core/panels.py
  python/rusty_dot/_html/report.js
  python/rusty_dot/dotplot.py
  tests/test_annotation_draw.py
  tests/test_app_core.py
Due: pytest

feat(app): sidebar and multi-panel navigation improvements
  CHANGELOG.md
  app/app.py
  app/core/validate.py
  app/www/bridge.js
  app/www/sidebar-scroll.js
  python/rusty_dot/_html/report.js
  python/rusty_dot/dotplot.py
  tests/test_app_core.py
  tests/test_dotplot.py
Due: pytest

feat(app): exclude contigs below a minimum length from the plot
  CHANGELOG.md
  app/app.py
  app/core/panels.py
  tests/test_app_state.py
Due: pytest

fix(app): restore query-then-target inputs, hide target GFF when self-aligning
  CHANGELOG.md
  app/app.py
Due: pytest

fix(app): drop target annotations when self-aligning
  CHANGELOG.md
  app/app.py
  tests/test_app_core.py
Due: pytest

fix(app): keep short-contig labels readable, debounce feature-type toggles
  CHANGELOG.md
  app/app.py
  python/rusty_dot/dotplot.py
  tests/test_app_core.py
  tests/test_dotplot.py
Due: pytest

feat(app): hold per-feature annotation edits until Apply; 2s type debounce
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  app/www/app.css
  app/www/feature-table.js
  tests/test_app_core.py
Due: pytest

feat(app): sort the annotations table by any column
  CHANGELOG.md
  app/app.py
  app/www/app.css
  app/www/feature-table.js
  tests/test_app_core.py
Due: pytest

tweak(app): annotation type debounce 2s -> 1s
  CHANGELOG.md
  app/app.py
Due: pytest

feat(app): carry annotation highlights into exported figures
  CHANGELOG.md
  app/app.py
  app/www/bridge.js
  python/rusty_dot/_html/report.js
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

Single-panel click fixes, annotation control overhaul, GenBank/contig-filter follow-ups (#96)
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  app/core/panels.py
  app/core/validate.py
  app/www/app.css
  app/www/bridge.js
  app/www/feature-table.js
  app/www/sidebar-scroll.js
  python/rusty_dot/_html/report.js
  python/rusty_dot/dotplot.py
  tests/test_annotation_draw.py
  tests/test_app_core.py
  tests/test_app_state.py
  tests/test_dotplot.py
Due: pytest

fix(app): keep annotations working when the wasm wheel installs at boot
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  tests/test_app_core.py
Due: pytest

fix(app): keep annotations working when the wasm wheel installs at boot (#97)
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  tests/test_app_core.py
Due: pytest

fix python version name
  docs/tutorials/minimap2_paf_tutorial.ipynb
Due: none

use python3
  docs/tutorials/minimap2_paf_tutorial.ipynb
Due: none

fix(app): stop the aligner log covering the drill-down plot
  CHANGELOG.md
  app/www/app.css
  tests/test_app_core.py
Due: pytest

fix(app): stop the aligner log covering the drill-down plot (#98)
  CHANGELOG.md
  app/www/app.css
  tests/test_app_core.py
Due: pytest

feat(release): publish real wheels for 3.12-3.14 and 3.14t
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  app/README.md
  docs/development.md
  environment-wasm.yml
  pyproject.toml
  scripts/setup_wasm_toolchain.sh
  src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat(release): publish real wheels for 3.12-3.14 and 3.14t (#100)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  README.md
  app/README.md
  docs/development.md
  environment-wasm.yml
  pyproject.toml
  scripts/setup_wasm_toolchain.sh
  src/lib.rs
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test

feat(app): selection bands, fullscreen, dark mode and annotation-tab rework
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  app/core/panels.py
  app/www/app.css
  app/www/bridge.js
  app/www/feature-table.js
  app/www/font.css
  app/www/fullscreen.js
  app/www/task-status.js
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/_html/template.html
  python/rusty_dot/dotplot.py
  scripts/add_loading_splash.py
  tests/test_app_core.py
  tests/test_dotplot.py
  tests/test_html_report.py
Due: pytest

Style fixes by Ruff
  tests/test_app_core.py
Due: pytest

chore: gitignore the wasm smoke test's node artifacts
  .gitignore
Due: none

feat(app): selection bands, fullscreen, dark mode and annotation-tab rework (#101)
  .gitignore
  CHANGELOG.md
  app/app.py
  app/core/annotation_state.py
  app/core/panels.py
  app/www/app.css
  app/www/bridge.js
  app/www/feature-table.js
  app/www/font.css
  app/www/fullscreen.js
  app/www/task-status.js
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/_html/template.html
  python/rusty_dot/dotplot.py
  scripts/add_loading_splash.py
  tests/test_app_core.py
  tests/test_dotplot.py
  tests/test_html_report.py
Due: pytest

feat(app): multi-select persistence, measured size limits, zoom fix
  CHANGELOG.md
  app/app.py
  app/core/panels.py
  app/www/bridge.js
  docs/webapp.md
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/template.html
  scripts/add_loading_splash.py
Due: pytest

feat(app): multi-select persistence, measured size limits, zoom fix (#102)
  CHANGELOG.md
  app/app.py
  app/core/panels.py
  app/www/bridge.js
  docs/webapp.md
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/template.html
  scripts/add_loading_splash.py
Due: pytest

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-check: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  pytest: any of: \.py$
