Repository Adamtaranto/rusty-dot: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

.pre-commit-config.yaml:

repos:
  # ---------------------------------------------------------------------------
  # Basic pre-commit checks
  # ---------------------------------------------------------------------------
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        args: [--maxkb=500, --enforce-all]
      - id: check-ast
      - id: check-executables-have-shebangs
      - id: check-json
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # ---------------------------------------------------------------------------
  # Rust hooks (run at pre-commit stage — all are fast)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Check Rust source formatting (cargo fmt --check).
        entry: cargo fmt --all -- --check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-check
        name: cargo check
        description: Check the package compiles without errors.
        entry: cargo check
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust source with Clippy, treating warnings as errors.
        entry: cargo clippy -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

  # ---------------------------------------------------------------------------
  # Rust tests (run at pre-push stage — may recompile)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: cargo-test
        name: cargo test
        description: Run Rust library unit tests before pushing.
        entry: cargo test --lib
        language: system
        types: [rust]
        pass_filenames: false
        stages: [pre-push]
  
  # ---------------------------------------------------------------------------
  # Python: Ruff formatting checks
  # ---------------------------------------------------------------------------      
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  # ---------------------------------------------------------------------------
  # Python: numpydoc-style docstring validation for .pyi stub files
  # Skip pytest test files (tests/) and __init__.py modules.
  # ---------------------------------------------------------------------------
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle (numpydoc, .pyi stubs only)
        args:
          - "--convention=numpy"
          - "--add-ignore=D100,D104"
        files: "^python/.*\\.pyi$"

  # ---------------------------------------------------------------------------
  # Python tests (run at pre-push stage — requires the extension to be built)
  # ---------------------------------------------------------------------------
  - repo: local
    hooks:
      - id: pytest
        name: pytest
        description: Run the full Python test suite before pushing.
        entry: pytest tests/ -x -q
        language: system
        types: [python]
        pass_filenames: false
        stages: [pre-push]

perf(plot): vector-first rendering, auto rasterization, opt-in chaining
  README.md
  docs/tutorials/dotplot_tutorial.ipynb
  python/benchmarks/test_bench_plot.py
  python/rusty_dot/dotplot.py
  tests/test_annotation.py
  tests/test_dotplot.py
Due: pytest

build: sync Cargo.lock with needletail 0.7 dependency bump
  Cargo.lock
Due: none

docs(tutorial): add chain_gap and rasterized worked examples
  docs/tutorials/dotplot_tutorial.ipynb
Due: none

perf: parallelise + replace FM-index matching with a rolling-hash k-mer index (#54)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/citation-cff.yml
  .github/workflows/codspeed.yml
  .github/workflows/docs.yml
  .gitignore
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  README.md
  benches/bench_compare.rs
  benches/bench_index.rs
  benches/bench_kmer.rs
  benches/common/mod.rs
  docs/api/functions.md
  docs/api/index.md
  docs/api/sequence_index.md
  docs/development.md
  docs/index.md
  docs/tutorials/dotplot_tutorial.ipynb
  mkdocs.yml
  pyproject.toml
  python/benchmarks/_synth.py
  python/benchmarks/test_bench_cross.py
  python/benchmarks/test_bench_plot.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  src/index.rs
  src/kmer.rs
  src/kmer_hash.rs
  src/lib.rs
  src/merge.rs
  tests/test_annotation.py
  tests/test_dotplot.py
  tests/test_kmer_index_parity.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

feat: dgenies-fidelity contig sort, reordered/reoriented FASTA export, Python 3.14
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  README.md
  docs/api/cross_index.md
  docs/api/index.md
  docs/api/paf_io.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/write_reordered_fasta.ipynb
  environment.yml
  mkdocs.yml
  pyproject.toml
  python/benchmarks/test_bench_reorder.py
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  src/index.rs
  tests/test_dotplot.py
  tests/test_gravity_parity.py
  tests/test_paf_io.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

feat: dgenies-fidelity contig sort, reordered/reoriented FASTA export, Python 3.14 (#56)
  .github/workflows/ci.yml
  .github/workflows/codspeed.yml
  README.md
  docs/api/cross_index.md
  docs/api/index.md
  docs/api/paf_io.md
  docs/tutorials/all_vs_all_two_indices.ipynb
  docs/tutorials/write_reordered_fasta.ipynb
  environment.yml
  mkdocs.yml
  pyproject.toml
  python/benchmarks/test_bench_reorder.py
  python/rusty_dot/__init__.py
  python/rusty_dot/_rusty_dot.pyi
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  src/index.rs
  tests/test_dotplot.py
  tests/test_gravity_parity.py
  tests/test_paf_io.py
Due: cargo-fmt, cargo-check, cargo-clippy, cargo-test, pytest

docs: add CHANGELOG.md; list new plotting capabilities in README and docs landing page
  CHANGELOG.md
  README.md
  docs/index.md
Due: none

feat: add hide_internal_axes option to DotPlotter.plot
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

test: cover HTML report payload, dispatch and edge cases; add benchmarks
  python/benchmarks/test_bench_html.py
  tests/test_html_report.py
Due: pytest

build: bundle rusty_dot._html report assets into wheels and sdists
  pyproject.toml
Due: none

feat: interactive single-file HTML dotplot reports
  python/rusty_dot/_html/__init__.py
  python/rusty_dot/_html/render.py
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/_html/template.html
  python/rusty_dot/dotplot.py
Due: pytest

feat: add opt-in Nature-journal plot style (nature_style, use_nature_style)
  python/rusty_dot/__init__.py
  python/rusty_dot/style.py
Due: pytest

test: cover NATURE_RC values, rc restoration, and styled DotPlotter figures
  tests/test_style.py
Due: pytest

docs: add mkdocstrings API page for the plot style module
  docs/api/style.md
Due: none

test: cover plot-time contig_order and auto_reverse behaviour
  tests/test_dotplot.py
Due: pytest

feat: add contig_order and auto_reverse options to DotPlotter.plot()
  python/rusty_dot/dotplot.py
Due: pytest

fix: address review findings in HTML report
  python/rusty_dot/_html/render.py
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/dotplot.py
  tests/test_html_report.py
Due: pytest

fix(html): aspect-preserving scroll zoom; feat(html): drag-rectangle region zoom
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/template.html
Due: none

feat(html): wheel pans, Cmd/Ctrl+wheel zooms; kbd-styled nav help bar
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/template.html
Due: none

docs: add tutorial on reordering and reorienting an assembly to match a reference
  docs/tutorials/reorder_reorient_assembly.ipynb
  mkdocs.yml
Due: none

fix(paf): cache both strands in compute_matches; drop dotplot workaround
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

docs: use group-path plotting after stranded cache fix
  docs/tutorials/reorder_reorient_assembly.ipynb
Due: none

feat: contig_order and auto_reverse options on DotPlotter.plot() (#70)
  python/rusty_dot/dotplot.py
  python/rusty_dot/paf_io.py
  tests/test_dotplot.py
  tests/test_paf_io.py
Due: pytest

docs: tutorial — reorder and reorient one assembly to match another (#72)
  docs/tutorials/reorder_reorient_assembly.ipynb
  mkdocs.yml
Due: none

feat: interactive single-file HTML dotplot reports (#71)
  pyproject.toml
  python/benchmarks/test_bench_html.py
  python/rusty_dot/_html/__init__.py
  python/rusty_dot/_html/render.py
  python/rusty_dot/_html/report.css
  python/rusty_dot/_html/report.js
  python/rusty_dot/_html/serialize.py
  python/rusty_dot/_html/template.html
  python/rusty_dot/dotplot.py
  tests/test_html_report.py
Due: pytest

feat: opt-in Nature-journal plot style (nature_style / use_nature_style) (#69)
  docs/api/style.md
  python/rusty_dot/__init__.py
  python/rusty_dot/style.py
  tests/test_style.py
Due: pytest

docs: add CHANGELOG.md; list new plotting capabilities in README and docs landing page (#67)
  CHANGELOG.md
  README.md
  docs/index.md
Due: none

feat: add hide_internal_axes option to DotPlotter.plot (#68)
  python/rusty_dot/dotplot.py
  tests/test_dotplot.py
Due: pytest

build: target Pyodide 0.27 (emsdk 3.1.58) for wasm wheel with side-module flags and Node smoke test
  .cargo/config.toml
  .github/workflows/ci.yml
  scripts/wasm_smoke_test.mjs
Due: none

feat: browser app skeleton (Shiny/Shinylive) — upload, k-mer + PAF methods, plot config, downloads
  .gitignore
  app/README.md
  app/app.py
  app/core/__init__.py
  app/core/align.py
  app/core/cache.py
  app/core/fasta.py
  app/core/state.py
  app/requirements.txt
  app/www/app.css
  pyproject.toml
  tests/test_app_core.py
Due: pytest

ci: assemble docs site with exported browser app and wasm wheel on deploy
  .github/workflows/docs.yml
  CHANGELOG.md
Due: none

fix: make rusty_dot importable in wasm builds; pin nightly-2025-05-01; PAF plot axes + download_button API
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  app/README.md
  app/app.py
  python/rusty_dot/__init__.py
Due: pytest

feat: browser WASM app for assembly comparison (Shinylive + Pyodide wheel pipeline) (#73)
  .cargo/config.toml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .gitignore
  CHANGELOG.md
  app/README.md
  app/app.py
  app/core/__init__.py
  app/core/align.py
  app/core/cache.py
  app/core/fasta.py
  app/core/state.py
  app/requirements.txt
  app/www/app.css
  pyproject.toml
  python/rusty_dot/__init__.py
  scripts/wasm_smoke_test.mjs
  tests/test_app_core.py
Due: pytest

docs: link browser app from README and docs landing page; changelog for Stage B app features
  CHANGELOG.md
  README.md
  docs/index.md
Due: none

docs: add Web App page (docs/webapp.md) with embedded browser app and nav entry
  docs/webapp.md
  mkdocs.yml
Due: none

style(app): plot toolbar, navigation hint, loading states, dark-mode colors
  app/www/app.css
Due: none

test(app): cover colinearity_ref layout, panel mapping, FASTA export paths
  tests/test_app_core.py
  tests/test_app_state.py
Due: pytest

feat(app): colinearity-vs-fixed-reference order mode and layout/export helpers
  app/core/export.py
  app/core/panels.py
  app/core/state.py
Due: pytest

feat(app): embed interactive HTML report with panel drill-down
  app/app.py
  app/www/bridge.js
Due: pytest

feat(app): biowasm aligner backends — minimap2, LASTZ, nucmer in the browser
  app/app.py
  app/core/align.py
  app/www/aligners.js
  tests/test_app_align.py
Due: pytest
